body {
    font-family: Arial, sans-serif;
	padding: 0%;
	margin: 0%;
    background-image: linear-gradient(to right, pink , #ADD8E6);
}

header {
    background-color: #000000;
    color: #fff;
    padding: 1em 0;
    text-align: center;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

#gallery {
	width: 653px;
	height: 367px;
	border: solid;
	border-color: black;
}

#image101 {
	height: 50%;
	width: 50%;
	border: solid;
	border-color: black;
	margin-left: 20%;
}

#image202 {
	height: 80%;
	width: 80%;
	border: solid;
	border-color: black;
	margin-left: 10%;
	margin-right: 20%;
}

#image303 {
	height: 600px;
	width: 80%;
	border: solid;
	border-color: black;
	margin-left: 10%;
	margin-right: 20%;
}

